html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}/* You can add global styles to this file, and also import other style files */

i {
    font-family: 'FontAwesome';
}